{% set currentPath = app.request.pathInfo %}

{% set defaultClasses = 'px-3 py-3 relative' %}
{# {% set selectedClasses = "text-blue-600" %} #}
{% set unselectedClasses = 'text-gray-600' %}
{% set hoverClass = 'hover:text-gray-800' %}

{% if currentPath == '/' %}
    {% set hoverClass = 'hover:text-blue-600' %}
{% elseif currentPath == '/about' %}
    {% set hoverClass = 'hover:text-fuchsia-600' %}
{% elseif '/submission' in currentPath %}
    {% set hoverClass = 'hover:text-green-600' %}
{% endif %}

<div class="mx-auto w-fit p-4 sm:px-6 lg:px-8 sticky top-0 z-50">
    <nav class="flex shadow-main rounded-full bg-white px-3 border border-gray-200 text-sm text-medium">
        <a href="{{ path('index') }}"
            class="{{
            currentPath == '/'
                ? 'text-blue-600'
                : unselectedClasses
            }} {{ defaultClasses }} {{ hoverClass }}">
            Home{% if currentPath == '/' %}
                <span class="absolute inset-x-1 -bottom-px h-px bg-gradient-to-r from-blue-600/0 via-blue-600/50 to-blue-600/0 dark:from-teal-400/0 dark:via-teal-400/40 dark:to-teal-400/0 nav-highlight">

                </span>
            {% endif %}
        </a>
        <a href="{{ path('about') }}"
            class="{{
            currentPath == '/about'
                ? 'text-fuchsia-600'
                : unselectedClasses
            }} {{ defaultClasses }} {{ hoverClass }}">
            About{% if currentPath == '/about' %}
                <span class="absolute inset-x-1 -bottom-px h-px bg-gradient-to-r from-fuchsia-600/0 via-fuchsia-600/50 to-fuchsia-600/0 dark:from-teal-400/0 dark:via-teal-400/40 dark:to-teal-400/0 nav-highlight">

                </span>
            {% endif %}
        </a>
        <a href="{{ path('app_submission_new') }}"
            class="{{
            '/submission' in currentPath
                ? 'text-green-600'
                : unselectedClasses
            }} {{ defaultClasses }} {{ hoverClass }}">
            Submit{% if '/submission' in currentPath %}
                <span class="absolute inset-x-1 -bottom-px h-px bg-gradient-to-r from-green-600/0 via-green-600/50 to-green-600/0 dark:from-teal-400/0 dark:via-teal-400/40 dark:to-teal-400/0 nav-highlight">

                </span>
            {% endif %}
        </a>
    </nav>
</div>
