{% set currentPath = app.request.pathInfo %}

<nav>
    <a href="{{ path('index') }}" class="{{ currentPath == '/' ? 'font-bold' : '' }}">Home</a>
    <a href="{{ path('about') }}" class="{{ currentPath == '/about' ? 'font-bold' : '' }}">About</a>
    <a href="{{ path('app_submission_new') }}" class="{{ '/submission' in currentPath ? 'font-bold' : '' }}">Submit</a>
</nav>
